extends ../shared/template
block title
  h1 New Alien Form Page
block content
  .row
    .col-xs-6
      form(action='/aliens', method='post')
        .form-group
          label Name
          input#Name.form-control(type='text', name='name')

        .form-group
          label Photo
          input#Photo.form-control(type='text', name='photo')

        .form-group
          label Planet
          input#Planet.form-control(type='text', name='planet')

        .form-group
          button.btn.btn-default(type='submit') Submit
    .col-xs-6
